idb.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="x:scxq7:idb"
  xmlns="x:scxq7:idb"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <!-- ========================= -->
  <!-- ROOT -->
  <!-- ========================= -->
  <xsd:element name="idb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="state" type="StateType"/>
        <xsd:element name="causal" type="CausalType"/>
        <xsd:element name="constraints" type="ConstraintsType" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <!-- ========================= -->
  <!-- STATE -->
  <!-- ========================= -->
  <xsd:complexType name="StateType">
    <xsd:sequence>
      <xsd:element name="heap" type="HeapType"/>
    </xsd:sequence>
    <xsd:attribute name="hash" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="HeapType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="encoding" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ========================= -->
  <!-- CAUSAL DAG -->
  <!-- ========================= -->
  <xsd:complexType name="CausalType">
    <xsd:sequence>
      <xsd:element name="step" type="StepType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StepType">
    <xsd:sequence>
      <xsd:element name="cause" type="RefType"/>
      <xsd:element name="effect" type="RefType"/>
      <xsd:element name="proof" type="RefType"/>
      <xsd:element name="constraints" type="ConstraintsRefType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="time" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- ========================= -->
  <!-- CONSTRAINTS -->
  <!-- ========================= -->
  <xsd:complexType name="ConstraintsType">
    <xsd:sequence>
      <xsd:element name="invariant" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- ========================= -->
  <!-- SHARED -->
  <!-- ========================= -->
  <xsd:complexType name="ConstraintsRefType">
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="RefType">
    <xsd:attribute name="hash" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>
